## **Supreme Court Transcripts Database Design**

### Contents:
 1. Finding Justices Present
 2. Date, Year
 3. Appearances
 4. Sentiment Analysis 
 5. Building the DataFrame

In [437]:
import pandas as pd
import regex as re
import numpy as np
import os
from os import listdir
from os.path import isfile,join

# Read in a plain text file
files = []
path = r"C:\Users\Avena Cheng\Desktop\Liberating Archives\supremecourt\textfiles\\"
for i in os.listdir(r"C:\Users\Avena Cheng\Desktop\Liberating Archives\supremecourt\textfiles"):
    if i.endswith('.txt'):
        text = open(path+i,encoding="utf8").read()
        files.append(text)

In [438]:
len(files)

1302

In [439]:
cleaned = []
for txt in files:
    clean = re.sub('\xad','',txt) # honestly not sure why this exists but ok
    clean = re.sub('\n','',clean) # no new lines
    clean = re.sub('â€™',"\\'",clean) #remove weird apostrophe and replace with normal apostrophe
    clean = re.sub('\\\\','',clean)
    cleaned += [clean]

In [440]:
## FIXING SPELLING ERRORS
for transcript in cleaned:
    transcript = re.sub('JUSTICE SC[A-Z]+:','JUSTICE SCALIA:',transcript)
    transcript = re.sub('JUSTICE KEN[A-Z]+','JUSTICE KENNEDY:',transcript)
    transcript = re.sub('JUSTICE [A-Z]+OUT[A-Z]+:','JUSTICE SOUTER:',transcript)
    transcript = re.sub('JUSTICE BRE[A-Z]+:','JUSTICE BREYER:',transcript)
    transcript = re.sub('JUSTICE GIN[A-Z]+:','JUSTICE GINSBURG',transcript)
    transcript = re.sub('JUSTICE [A-Z]+QUIST:','JUSTICE REHNQUIST:',transcript)
    transcript = re.sub('JUSTICE SOTO[A-Z]+:','JUSTICE SOTOMAYOR:',transcript)
    transcript = re.sub('JUSTICE ROB[A-Z]+:','JUSTICE ROBERTS:',transcript)
    transcript = re.sub('JUSTICE STEV[A-Z]+:','JUSTICE STEVENS:',transcript)

### **Finding Justices Present**

In [441]:
def unique(lst):
    uni = []
    for i in lst:
        if i not in uni:
            uni += [i]
    return uni

def case_no(txt):
    return unique(re.findall('No.\s*\d+[-]*\d+',txt))

In [442]:
def justices(txt):
    j = re.findall('JUSTICE[A-Z\s]+:',txt)
    justice = sorted(unique(j))
    cleaned_list = [justice[i][:-1] for i in range(len(justice))]
    return cleaned_list

In [443]:
justices(cleaned[0])

['JUSTICE ALITO',
 'JUSTICE BREYER',
 'JUSTICE GINSBURG',
 'JUSTICE KENNEDY',
 'JUSTICE ROBERTS',
 'JUSTICE SCALIA',
 'JUSTICE SOUTER',
 'JUSTICE STEVENS']

In [444]:
#def justices(texts):
 #   d = {}
  #  for txt in texts:
   #     num = case_no(txt)[0]
    #    j = re.findall('JUSTICE[A-Z\s]+:',txt)
     #   justice = sorted(unique(j))
      #  cleaned_list = [justice[i][:-1] for i in range(len(justice))]
       # d[num] = cleaned_list
    #return d

## **Date, Year**

In [445]:
def date(text):
    return re.findall('\W\w+,*\s+\d+\w*\w*,\s+\d{4}',text)

In [446]:
def year(text):
    return re.findall('\d\d\d\d',date(text))

## **Appearances**

In [447]:
def appearances(text):
    app = re.findall('APPEARANCES:[\s\S]*?Reporting',text)[0]
    app = re.findall('[\s\S]*?;[\s\S]*?\.',app)
    app = [re.sub('\d','',app[i]) for i in range(len(app))]
    remove_appearance = re.sub('APPEARANCES:\s','',app[0])
    app[0] = remove_appearance
    app = [re.sub('[\s\s]+',' ',app[i]) for i in range(len(app))]
    return app

In [448]:
#for i in cleaned:
 #   app = appearances(i)
  #  for j in app:
   #     print(j)
    #print('-----------------------')

## **Sentiment Analysis**

**Checkpoint 10/22**

* need to work on finding the regex pattern between speakers
* General pattern: "SPEAKER: anything they say until the next SPEAKER:"

### STEPS:
1. Extract the sentences from each speaker.
2. Develop a function (actually there's one written in the github link below that you could model yours from; it's very good)
3. Test it on various transcripts to ensure it's generalized

### Note to Amal: Please look at these slides for performing sentiment analysis. They are from my IEOR class, and these techniques are very useful. Please let me know if you would like to go over it together.

https://github.com/ikhlaqsidhu/data-x/blob/master/07a-tools-nlp-sentiment_add_missing_si/notebook-nlp-sentiment-analysis-imdb-afo_v2.ipynb

## OTHER NOTES: you can't use the function below on cases where the justices' names are replaced with "QUESTION"

In [449]:
reporting_pattern = '[A-Z][a-z]+\sReporting'
REPORTING_pattern = '[A-Z]+\sREPORTING'
contents_pattern = 'CONTENTS'
CONTENTS_pattern = 'C O N T E N T S'

In [450]:
## I was trying to extract the speakers from each text. 
all_justices =['JUSTICE GORSUCH','JUSTICE PHILLIPS','JUSTICE SCALIA','JUSTICE ROBERTS','JUSTICE KAVANAUGH',
               'JUSTICE GINSBURG','JUSTICE BREYER','JUSTICE KENNEDY','JUSTICE ALITO','JUSTICE STEVENS',
               'JUSTICE KAGAN','JUSTICE REHNQUIST','JUSTICE THOMAS','JUSTICE SOTOMAYOR','JUSTICE SOUTER','JUSTICE BENNETT']

def dialogue(text,person):
    pattern = re.escape(person)+r":[\s\S]+?[A-Z]+\s*?:"
    sents = re.findall(pattern,text) #regex pattern to find all instances
    sents = [re.sub('\d','',i) for i in sents] # cleaning transcript
    sents = [re.sub('[\s\s]+',' ',i) for i in sents] #cleaning transcript
    sents = [re.sub('Company Official',' ',i) for i in sents if len(re.sub('Company Official',' ',i)) != 0]
    for i in range(len(sents)):
        report1 = re.findall(reporting_pattern,sents[i])
        report2 = re.findall(REPORTING_pattern,sents[i])
        content1 = re.findall(contents_pattern,sents[i])
        content2 = re.findall(CONTENTS_pattern,sents[i])
        if len(report1) > 0:
            sents[i]=re.sub(report1[0],'',sents[i])
        elif len(report2) > 0:
            sents[i]=re.sub(report2[0],'',sents[i])
        elif len(content1) > 0:
            sents[i]=re.sub(content1[0],'',sents[i])
        elif len(content2) > 0:
            sents[i]=re.sub(content2[0],'',sents[i])
        else:
            continue
    sents = [re.sub('Official - Subject to Final Review','',i) for i in sents if len(re.sub('Official - Subject to Final Review','',i))!= 0]
    sents = [re.sub('- Subject to Final Review','',i) for i in sents]
    sents = [re.sub('JUSTICE [A-Z]+:','',i) for i in sents]
    sents = [re.sub('CHIEF|Page|JUSTICE','',i) for i in sents]
    sents = [re.sub('th Street, NW Suite  Company Washington, DC --FOR-DEPO','',i) for i in sents]
    sents = [re.sub('--FOR-DEPO','',i) for i in sents]
    sents = [re.sub('[A-Z\s*\.*]+:','',i) for i in sents]
    return sents

In [451]:
dialogue(cleaned[1123],'REHNQUIST')

[" We'll hear argument next in No. -, TRW, Inc. v. Adelaide Andrews. Mr. Nager"]

In [452]:
case_1 = []
speech = []
for j in all_justices:
    for i in range(100):
        text =  dialogue(cleaned[i],j)
        speech += [text]

In [453]:
len(all_justices)

16

In [454]:
#speech

# **Building the DataFrame**

#### Justices!
`#print(cleaned[4])`

If we run the above ...

Notice that instead of having the justices' name, it just says "QUESTION". This is usually the case for when it appears there is only one justice present. It seems to be only for Justice Rehnquist.

In [455]:
## Testing do not use
trial = [justices(i) for i in cleaned]
every_justice = []
for i in trial:
    every_justice += i
uniques = unique(every_justice)
for i in range(len(uniques)):
    uniques[i] = re.sub('JUSTICE','',uniques[i])
    uniques[i] = re.sub('\s+','',uniques[i])
#unique(uniques)

In [456]:
justice = [justices(i) for i in cleaned]
for lst in justice:
    for word in range(len(lst)):
        #lst[word] = re.sub('JUSTICE','',lst[word])
        #lst[word] = re.sub('\s+','',lst[word])
        if 'SC' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE SCALIA',lst[word])
        if 'KEN' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE KENNEDY',lst[word])
        if 'TER' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE SOUTER',lst[word])
        if 'BRE' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE BREYER',lst[word])
        if 'GIN' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE GINSBURG',lst[word])
        if 'QUIST' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE REHNQUIST',lst[word])
        if 'SOTO' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE SOTOMAYOR',lst[word])
        if 'ROB' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE ROBERTS',lst[word])
        if 'STEVE' in lst[word]:
            lst[word] = re.sub(lst[word],'JUSTICE STEVENS',lst[word])

In [457]:
#for i in range(len(justice)):
 #   justice[i] = re.sub('JUSTICE','',justice[i])

#### Dates!

In [458]:
date(cleaned[0])[0]

' December 1, 2008'

In [459]:
dates = []
for i in cleaned:
    dates += [date(i)[0]]

In [460]:
len(dates)

1302

#### Year!

In [461]:
years = []
for i in dates:
    years += re.findall('\d\d\d\d',i)

In [462]:
len(years)

1302

#### Case Numbers! (Needs improvement)

In [466]:
case_no(cleaned[0])

['No. 07-581']

In [467]:
cases = []
for i in cleaned:
    cases += [case_no(i)[0]]

In [468]:
len(cleaned)

1302

#### Appearances!

In [469]:
# don't use this one
def appearances(text):
    app = re.findall('APPEARANCES:[\s\S]*?Reporting.*?',text)
    if len(app) == 0:
        app = re.findall('APPEARANCES:[\s\S]*?REPORTING.*?',text)
        if len(app) == 0:
            app = re.findall('APPEARANCES:[\s\S]*?C O N T E N T S.*?',text)
            if len(app) == 0:
                app = re.findall('APPEARANCES:[\s\S]*?CONTENTS.*?',text)
    app = app[0]
    app = re.findall('[\s\S]*?;[\s\S]*?\.',app)
    app = [re.sub('\d','',app[i]) for i in range(len(app))]
    remove_appearance = re.sub('APPEARANCES:\s','',app[0])
    app[0] = remove_appearance
    app = [re.sub('[\s\s]+',' ',app[i]) for i in range(len(app))]
    return app

In [470]:
def diff(text):
    app = re.findall('APPEARANCES:*[\s\S]*?Reporting.*?',text)
    if len(app) == 0 or len(app[0])>1000:
        app = re.findall('APPEARANCES:[\s\S]*?REPORTING.*?',text)
        if len(app) == 0 or len(app[0])>1000:
            app = re.findall('APPEARANCES:[\s\S]*?C O N T E N T S.*?',text)
            if len(app) == 0 or len(app[0])>1000:
                app = re.findall('APPEARANCES:[\s\S]*?CONTENTS.*?',text)
                if len(app) == 0 or len(app[0])>1000:
                    app = re.findall('APPEARANCES:[\s\S]*?P R O C E E D I N G S.*?',text)
    app = app[0]
    app = re.sub('\d','',app)
    remove_appearance = re.sub('APPEARANCES:*\s','',app)
    app = re.sub('[\s\s]+',' ',remove_appearance)
    return app

In [471]:
ugh = []
c = 1
for i in range(len(cleaned)):
    #print(c)
    try:
        ugh+=[diff(cleaned[i])]
        #print('')
    except:
        ugh += [i]
        continue
    c+=1

In [472]:
for i in ugh:
    if type(i)==int:
        print(i)

1023

In [473]:
ugh[1023]

1023

In [474]:
for i in range(len(ugh)):
    if i == 1023:
        ugh[i] = 1023
    else:
        ugh[i] = re.sub('in No. -','',ugh[i])

In [475]:
ugh[0]

'PAUL SALVATORE, ESQ., New York, N.Y.; on behalf of the Petitioners. DAVID C. FREDERICK, ESQ., Washington, D.C.; on behalf of the Respondents. CURTIS E. GANNON, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; on behalf of the United States, as amicus curiae, supporting the Respondents. Alderson Reporting'

In [476]:
re.findall(reporting_pattern,cleaned[0])[0]

'Alderson Reporting'

In [477]:
re.sub(re.findall(reporting_pattern,ugh[0])[0],'',ugh[0])

'PAUL SALVATORE, ESQ., New York, N.Y.; on behalf of the Petitioners. DAVID C. FREDERICK, ESQ., Washington, D.C.; on behalf of the Respondents. CURTIS E. GANNON, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; on behalf of the United States, as amicus curiae, supporting the Respondents. '

In [478]:
for i in range(len(ugh)):
    if i == 1023:
        ugh[i] == 'JASON D. HAWKINS, ESQ., Assistant Federal Public Defender, Dallas, Texas; for Petitioner. WILLIAM M. JAY, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; for  Respondent, in support of Petitioner. EVAN A. YOUNG, ESQ., Austin, Texas; for amicus curiae, in support of the judgment below; appointed by this Court.'
    else:
        report1 = re.findall(reporting_pattern,ugh[i])
        report2 = re.findall(REPORTING_pattern,ugh[i])
        content1 = re.findall(contents_pattern,ugh[i])
        content2 = re.findall(CONTENTS_pattern,ugh[i])
        if len(report1) > 0:
            ugh[i]=re.sub(report1[0],'',ugh[i])
        elif len(report2) > 0:
            ugh[i]=re.sub(report2[0],'',ugh[i])
        elif len(content1) > 0:
            ugh[i]=re.sub(content1[0],'',ugh[i])
        else:
            ugh[i]=re.sub(content2[0],'',ugh[i])

In [479]:
bad = 'JASON D. HAWKINS, ESQ., Assistant Federal Public Defender, Dallas, Texas; for Petitioner. WILLIAM M. JAY, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; for  Respondent, in support of Petitioner. EVAN A. YOUNG, ESQ., Austin, Texas; for amicus curiae, in support of the judgment below; appointed by this Court.'

In [480]:
no_55 = re.sub("\d", "",cleaned[55])
no_295 = re.sub("\d","",cleaned[295])
app_55 = "THOMAS C. GOLDSTEIN, ESQ., Washington, D.C.; on behalf of Petitioners. DONALD B. VERRILLI, JR., ESQ., Solicitor General, Department of Justice, Washington, D.C.; on behalf of Respondents."
app_295 = "APPEARANCES: Alderson Reporting Company Official - Subject to Final Review TIMOTHY S. BISHOP, ESQ., Chicago, Illinois; on behalf of Petitioners. MALCOLM L. STEWART, ESQ., Deputy Solicitor General, Department of Justice, Washington, D.C.; for United States, as amicus curiae, in support of Petitioners. JEFFREY L. FISHER, ESQ., Stanford, California; on behalf of Respondents."
app_1023 = 'JASON D. HAWKINS, ESQ., Assistant Federal Public Defender, Dallas, Texas; for Petitioner. WILLIAM M. JAY, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; for  Respondent, in support of Petitioner. EVAN A. YOUNG, ESQ., Austin, Texas; for amicus curiae, in support of the judgment below; appointed by this Court.'

In [481]:
ugh[55] = app_55
ugh[295] = app_295
ugh[1023] = app_1023

#### People!

In [482]:
people = []
for i in range(len(ugh)):
    p = re.findall('[A-Z]+\s[A-Z\.\s]*[\'*A-Za-z\s*]+',ugh[i])
    people += [p]
    
for i in range(len(people)):
    people[i] = ", ".join(people[i])

In [483]:
anns = []
for i in range(len(people)):
    lst = people[i]
    if "DABNEY" in lst:
        anns += [i]

In [484]:
for i in anns:
    print(data.iloc[i]['Title'])
    print('')

Already, LLC v. Nike, Inc.

Holmes Group, Inc. v. Vornado Air Circulation Systems, Inc.

KSR International Co. v. Teleflex, Inc.

TC Heartland LLC v. Kraft Foods Group Brands LLC

In [485]:
data.iloc[1252]['Appearances']

"MICHAEL B. KIMBERLY, ESQ., Washington, D.C.; on behalf of the Petitioner. RANDALL E. RAVITZ, ESQ., Assistant Attorney General, Boston, Mass.; on behalf of the Respondent. ANN O'CONNELL, ESQ., Assistant to the Solicitor General, Department of Justice, Washington, D.C.; for United States, as amicus curiae, supporting the Respondent. "

In [486]:
#for i in range(len(people)):
 #   need_to_fix = re.findall()

In [487]:
data.iloc[825]

Title                                            Nevada v. Hicks
Case_ID                                                      826
Case_No                                              No. 99-1994
Date                                              March 21, 2001
Year                                                        2001
Justices                                     [JUSTICE REHNQUIST]
Appearances    C. WAYNE HOWLE, ESQ., Carson City, Nevada; on ...
People                WAYNE HOWLE, JAMES ANAYA, BARBARA MCDOWELL
Name: 825, dtype: object

#### Title!

In [488]:
title = [f for f in listdir(r"C:\Users\Avena Cheng\Desktop\Liberating Archives\supremecourt\textfiles") if isfile(join(r"C:\Users\Avena Cheng\Desktop\Liberating Archives\supremecourt\textfiles", f))]
for i in range(len(title)):
    title[i] = re.sub('.pdf.txt','',title[i])
title.remove('DatabaseDesign1.ipynb')

### ACTUAL DATAFRAME

** Note: Some cases only have one justice, Rehnquist, but this is actually because the rest of the questions appear as "QUESTION:" rather than the justices' name.

In [489]:
#make sure they're all the same length
print(len(justice),
len(title),
len(ugh),
len(people),
len(years),
len(cases))

1302 1302 1302 1302 1302 1302

In [490]:
data = pd.DataFrame({'Title':title,'Case_ID':range(1,1303),'Case_No': cases,'Date':dates,'Year':years,'Justices':justice,'Appearances':ugh,'People':people})#'Justices':justice,'Appearances':people})

In [491]:
data.head()

,Title,Case_ID,Case_No,Date,Year,Justices,Appearances,People
0,14 Penn Plaza LLC v. Pyett,1,No. 07-581,"December 1, 2008",2008,"[JUSTICE ALITO, JUSTICE BREYER, JUSTICE GINSBU...","PAUL SALVATORE, ESQ., New York, N.Y.; on behal...","PAUL SALVATORE, DAVID C. FREDERICK, CURTIS E. ..."
1,Abbott v. Perez,2,No. 17-586,"April 24, 2018",2018,"[JUSTICE ALITO, JUSTICE BREYER, JUSTICE GINSBU...","SCOTT A. KELLER, Solicitor General of Texas, ...","SCOTT A. KELLER, EDWIN S. KNEEDLER, MAX RENEA ..."
2,Abbott v. United States,3,No. 09-479,"October 4, 2010",2010,"[JUSTICE ALITO, JUSTICE BREYER, JUSTICE GINSBU...","DAVID L. HORAN, ESQ., Dallas, Texas; on behalf...","DAVID L. HORAN, JAMES E. RYAN"
3,Abdul-Kabir v. Quarterman,4,No. 05-11284,"January 17, 2006",2006,"[JUSTICE ALITO, JUSTICE BREYER, JUSTICE GINSBU...","ROBERT C. OWEN, ESQ., Austin, Tex.; on behalf...","ROBERT C. OWEN, EDWARD L. MARSHALL"
4,Abdur_Rahman v. Bell,5,No. 01-9094,"November 6, 2002",2002,[JUSTICE REHNQUIST],"JAMES S. LIEBMAN, ESQ., New York, New York; on...","JAMES S. LIEBMAN, PAUL G. SUMMERS, PAUL J. ZID..."

In [492]:
data.to_csv(r"C:\Users\Avena Cheng\Desktop\Liberating Archives\data.csv")

## Bills/Acts

** credits to Yuhan and Amal**

In [497]:
import regex as re
import numpy
import os

def unique(texts):
    return list(set(texts))

#return a set of nonunique bill mentioned in the speech.
def bill(texts):
    no_num = re.sub('\d+','',texts)
    no_n = re.sub('\n','',no_num)
    evenly_spaced = re.sub('\s+',' ',no_n)
    b= re.findall("[A-Z][a-z]+\s[A-Z][a-z]+\sAct", evenly_spaced)
    return b
#return a set of unique bill mentioned in the speech.
def unibill(texts):
    return unique(bill(texts))
#return the name and times it appears.
def count(texts):
    bills = bill(texts)
    ret = []
    for i in range(0,len(bills)):
        count = bills.count(bills[i])
        ret.append (str(bills[i]) + " " + ":" + ' '+str(count))
    return unique(ret)

In [498]:
unibill(cleaned[0])
count(cleaned[0])

['Labor Standards Act : 1', 'Labor Relations Act : 2']

In [499]:
bills_mentioned = []
for i in range(len(cleaned)):
    bills_mentioned += [count(cleaned[i])]

In [500]:
len(bills_mentioned)

1302

In [501]:
data['Bills Mentioned'] = bills_mentioned

In [508]:
bills_db = data[['Title','Case_No','Date','Bills Mentioned']]

In [510]:
#bills_db.to_csv('bills_db.csv')

## Keywords/TF-IDF

In [511]:
import nltk

# nltk.download('all')
from nltk.tokenize import sent_tokenize # tokenizes sentences
import re

from nltk import word_tokenize
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet

eng_stopwords = stopwords.words('english')

In [512]:
def text_cleaner(text,stem=False):
    '''
    1. Use regex to remove all special characters (only keep letters)
    2. Make strings to lower case and tokenize / word split reviews
    3. Remove English stopwords
    4. Rejoin to one string
    '''
    #3. Remove punctuation
    text = re.sub("[^a-zA-Z]", " ",text)
    #4. Tokenize into words (all lower case)
    text = text.lower()
    #5. Remove stopwords
    eng_stopwords = set(stopwords.words("english"))

    words = word_tokenize(text)
    words = [w for w in words if w not in eng_stopwords]
    return(words)

In [513]:
def term_frequency(document, term):
    words = text_cleaner(document)
    number_of_words = len(words)
    print("Total number of words in document 1 is", number_of_words)

    frequency_of_word = sum([1 for word in words if word.lower() == term])
    print("Frequency of the word", term, "is", frequency_of_word)

    term_frequency = frequency_of_word / number_of_words
    return term_frequency

In [514]:
#text_cleaner(cleaned[0])

## SPEECHES DATAFRAME 
### Just justices right now. we can add other people later.

In [61]:
speech = []
for j in all_justices:
    for i in range(1):
        text =  dialogue(cleaned[i],j)
        speech += [text]

In [978]:
speech_df = pd.DataFrame({'Name':[],'Case':[],'Speech':[]})
for i in range(1302):
    title = data['Title'].iloc[i]
    judges = data['Justices'].iloc[i]
    case_id = data['Case_ID'].iloc[i]
    for j in judges:
        words = dialogue(cleaned[i],j)
        words = ".".join(words)
        speech_df = speech_df.append(pd.DataFrame({'Name':[j],'Case':[title],'Case_ID':[case_id],'Speech':[words]}))

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [980]:
speech_df['Case_ID'] = speech_df['Case_ID'].astype(int)

In [981]:
len(speech_df)

7852

In [982]:
speech_df.head()

,Case,Case_ID,Name,Speech
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE ALITO,Has any court decided this issue of the inter...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE BREYER,I ask you -- let me ask you a naive question ...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE GINSBURG,But here it wasn't. . Here we are dealing...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE KENNEDY,Yes. What -- what - . I don't -- I don't wish...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE ROBERTS,"We'll hear argument next in Case -, Penn Plaz..."

### This table contains everything that each justice says, in every court case.
Remember that we will have missing values because in some cases, the rest of the justices are labeled as "QUESTION:" so we don't actually know who is speaking.

In [522]:
speech_df.head()

,Case,Case_ID,Dialogue,Name
0,14 Penn Plaza LLC v. Pyett,1,Has any court decided this issue of the inter...,JUSTICE ALITO
0,14 Penn Plaza LLC v. Pyett,1,I ask you -- let me ask you a naive question ...,JUSTICE BREYER
0,14 Penn Plaza LLC v. Pyett,1,But here it wasn't. . Here we are dealing...,JUSTICE GINSBURG
0,14 Penn Plaza LLC v. Pyett,1,Yes. What -- what - . I don't -- I don't wish...,JUSTICE KENNEDY
0,14 Penn Plaza LLC v. Pyett,1,"We'll hear argument next in Case -, Penn Plaz...",JUSTICE ROBERTS

In [523]:
#data[['Justices']]

In [524]:
#cleaned[1123]

In [525]:
#speech_df.to_csv('speeched_db.csv')

In [526]:
speech_df.isnull().any()

Case        False
Case_ID     False
Dialogue    False
Name        False
dtype: bool

### Working on everyone else's speeches

In [934]:
people_df = pd.read_csv(r"C:\Users\Avena Cheng\Desktop\Liberating Archives\people.csv")
people_df = people_df.drop(1878).drop(1435).drop(1815)
people_df = people_df.reset_index().drop('index',axis=1).drop('Unnamed: 0',axis=1)
for i in people_df.loc[people_df['Name'] == 'DOUGLAS HALLWARD'].index:
    people_df['Name'][i] == "DOUGLAS HALLWARD-DRIEMEIER"
for i in people_df.loc[people_df['Name'] == "BONNIE I. ROBIN"].index:
    people_df['Name'][i] = 'BONNIE I. ROBIN-VERGEER'

In [935]:
len(people_df)

3272

#### Approach:
1. Find all the last names of people
2. Using regex, perform the same for loop as your did with justices, but substitute with people. 
3. Good luck.

In [958]:
last_names = []
for i in range(3272):
    name = people_df['Name'][i]
    if 'ESQ' in name:
        name = name.strip('ESQ')
    if len(re.findall('\.+',name)) > 0: # For those with middle names
        names = re.findall("[A-Z\'*a-z*]+",name)
        if len(re.findall('[a-z]+',name))>0: # For those with a name like "McKINSEY" or "DeLONE"
            last_names += [names[len(names)-1]]
        else:
            last_names += [names[len(names)-1]]
    else: # For those w/o middle names
        names = re.findall('[A-Z\'*a-z*]+',name)
        if len(re.findall('[a-z]+',name))>0:
            last_names += [names[len(names)-1]]
        else:
            last_names += [names[len(names)-1]]

In [966]:
# Fixing spelling mistakes
last_names[2200] = 'LABELLE'
last_names[554] = 'GERSHENGORN'
last_names[2809] = 'GOLDENBERG'
last_names[1503] = 'McALLISTER'
last_names[2601] = 'ROSENCRANZ'
indices_hallward = [i for i, x in enumerate(last_names) if x == "HALLWARD"]
indices_robin = [i for i, x in enumerate(last_names) if x == "ROBIN"]

for i in indices_hallward:
    last_names[i] = 'HALLWARD-DRIEMEIER'
for i in indices_robin:
    last_names[i] = 'ROBIN-VERGEER'

In [968]:
people_df.head()

                 Name                        Case       Last
0      PAUL SALVATORE  14 Penn Plaza LLC v. Pyett  SALVATORE
1  DAVID C. FREDERICK  14 Penn Plaza LLC v. Pyett  FREDERICK
2    CURTIS E. GANNON  14 Penn Plaza LLC v. Pyett     GANNON
3     SCOTT A. KELLER             Abbott v. Perez     KELLER
4   EDWIN S. KNEEDLER             Abbott v. Perez   KNEEDLER

In [969]:
people_df['Last'] = last_names
case_table = data[['Title','Case_ID']]
case_table = case_table.rename({'Title':'Case'},axis=1)
speech_table = pd.merge(people_df,case_table)

In [970]:
len(speech_table)

3272

In [971]:
#takes about 2 minutes to run
speeches=[]
for i in range(3272):
    caseid = speech_table['Case_ID'][i]-1
    d = dialogue(cleaned[caseid],speech_table['Last'][i])
    d = ".".join(d)
    if len(d) > 0:
        speeches += [d]
    else:
        speeches += ['Null']

In [972]:
speech_table['Speech']=speeches

In [1293]:
speech_df.head()

,Case,Case_ID,Name,Speech
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE ALITO,Has any court decided this issue of the inter...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE BREYER,I ask you -- let me ask you a naive question ...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE GINSBURG,But here it wasn't. . Here we are dealing...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE KENNEDY,Yes. What -- what - . I don't -- I don't wish...
0,14 Penn Plaza LLC v. Pyett,1,JUSTICE ROBERTS,"We'll hear argument next in Case -, Penn Plaz..."

In [1294]:
len(speech_table)

3272

In [1295]:
everyone_speech = speech_table.append(speech_df).drop('Last',axis=1)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [1296]:
len(everyone_speech)

11087

#### Exploring Null Cases

So far I've discovered why there are null cases:
1. problems with my "last name" extraction (i.e. some people have hyphens, such as HALLWARD-); **fixed**
2. SPELLING ERRORS ON THE REPORTING COMPANY'S BEHALF  **fixed**
 * Case 221: it should be GERSHERNGORN not GERSHENGORN
 * Case 1032: ROSENKRANZ vs ROSENCRANZ
 * Case 1113: GOLDENBERG vs GOLENDBERG
3. Slight errors in my function for finding "appearances" -- these cases should simply be deleted. **fixed**
 * Case 744: diff(cleaned[743]) will return GENERAL because of the regex pattern)
 * Case 569: AFSCME Council
 * Case 719: Services
4. Case 870: LaBELLE is null because whenever she speaks, her name is fully capitalized despited the lowercase 'a'. **fixed**

In [974]:
speech_table.loc[speech_table['Speech'] == 'Null']

Empty DataFrame
Columns: [Name, Case, Last, Case_ID, Speech]
Index: []

##### Convert speech to sql

In [89]:
speech_df = speech_df.reset_index().drop('index',axis=1).head()

In [1277]:
speech_df.loc[speech_df['Case']=="American Trucking Assns., Inc. v. Browner"]['Speech']

0
0
Name: Speech, dtype: object

In [1289]:
len(speech_df)-37

7815

In [1291]:
speech_df = speech_df.loc[speech_df['Speech']!='']

In [1276]:
re.findall('REHNQUIST',cleaned[36])

['REHNQUIST']

In [1297]:
import sqlite3
con = sqlite3.connect("database.db")

everyone_speech.to_sql("speech", con, if_exists="replace")

In [1298]:
everyone_speech.to_csv('speeches_db.csv')

In [1007]:
everyone_speech.head()

,Case,Case_ID,Name,Speech
0,14 Penn Plaza LLC v. Pyett,1,PAUL SALVATORE,"Thank you, Mr. Chief Justice, and may it plea..."
1,14 Penn Plaza LLC v. Pyett,1,DAVID C. FREDERICK,"Thank you, Mr. Chief Justice, and may it plea..."
2,14 Penn Plaza LLC v. Pyett,1,CURTIS E. GANNON,"Mr. Chief Justice, and may it please the Cour..."
3,Abbott v. Perez,2,SCOTT A. KELLER,"Thank you, Mr. Chief Justice, and may it plea..."
4,Abbott v. Perez,2,EDWIN S. KNEEDLER,"Mr. Chief Justice, and may it please the Cour..."

## Keywords

Credits to Pratibha

In [1178]:
keywords = pd.read_csv('keywords.csv').drop('Unnamed: 0', axis=1)

In [1179]:
keywords.head()

                         Case    words  frequencies  Case_ID
0  14 Penn Plaza LLC v. Pyett  justice          165        1
1  14 Penn Plaza LLC v. Pyett    union          125        1
2  14 Penn Plaza LLC v. Pyett  subject           80        1
3  14 Penn Plaza LLC v. Pyett    would           74        1
4  14 Penn Plaza LLC v. Pyett  company           71        1

In [1219]:
from nltk.tag import pos_tag

In [1222]:
token_tag = pos_tag(keywords['words'])

In [1227]:
len(token_tag)

65100

In [1228]:
keywords['tag'] = [token_tag[i][1] for i in range(65100)]

In [1226]:
token_tag[0][1]

'NN'

In [1265]:
k = keywords.loc[keywords['tag'] != 'VBD']
k = k.loc[k['tag'] != 'RB']
k = k.loc[k['tag'] != 'VBP']
k = k.loc[k['tag'] != 'IN']

In [1270]:
k.groupby('words').count().sort_values('frequencies',ascending = False)[:50]

             Case  frequencies  Case_ID   tag
words
would        1302         1302     1302  1302
case         1253         1253     1253  1253
reporting    1250         1250     1250  1250
court        1235         1235     1235  1235
justice      1202         1202     1202  1202
company      1109         1109     1109  1109
one          1106         1106     1106  1106
alderson     1088         1088     1088  1088
could         986          986      986   986
question      920          920      920   920
official      856          856      856   856
chief         815          815      815   815
argument      685          685      685   685
roberts       642          642      642   642
going         623          623      623   623
breyer        540          540      540   540
state         527          527      527   527
scalia        524          524      524   524
right         509          509      509   509
statute       502          502      502   502
law           487          487      487   487
congress      469          469      469   469
think         468          468      468   468
honor         463          463      463   463
review        421          421      421   421
final         411          411      411   411
subject       409          409      409   409
sotomayor     372          372      372   372
street        362          362      362   362
suite         353          353      353   353
mean          351          351      351   351
government    348          348      348   348
14th          335          335      335   335
may           333          333      333   333
cases         332          332      332   332
says          328          328      328   328
ginsburg      325          325      325   325
washington    324          324      324   324
federal       310          310      310   310
rule          291          291      291   291
way           289          289      289   289
know          284          284      284   284
states        281          281      281   281
1800fordepo   280          280      280   280
point         262          262      262   262
kennedy       254          254      254   254
get           242          242      242   242
fact          234          234      234   234
yes           232          232      232   232
time          232          232      232   232

In [1235]:
keywords.groupby('words').count().sort_values('frequencies',ascending = False)[100:150]

                Case  frequencies  Case_ID  tag
words
clause            84           84       84   84
counsel           82           82       82   82
back              82           82       82   82
public            79           79       79   79
language          78           78       78   78
police            77           77       77   77
judgment          77           77       77   77
sentence          77           77       77   77
cause             76           76       76   76
years             75           75       75   75
process           74           74       74   74
test              73           73       73   73
heritage          73           73       73   73
believe           73           73       73   73
made              72           72       72   72
property          71           71       71   71
provision         71           71       71   71
agency            70           70       70   70
company1111       70           70       70   70
reason            70           70       70   70
information       69           69       69   69
kneedler          69           69       69   69
supreme           68           68       68   68
crime             67           67       67   67
contract          66           66       66   66
authority         66           66       66   66
rights            66           66       66   66
officer           65           65       65   65
dreeben           64           64       64   64
record            63           63       63   63
matter            61           61       61   61
position          61           61       61   61
constitutional    59           59       59   59
immunity          59           59       59   59
fourteenth        59           59       59   59
problem           59           59       59   59
stewart           58           58       58   58
tax               58           58       58   58
depo              57           57       57   57
2892260           57           57       57   57
agreement         57           57       57   57
attorney          56           56       56   56
respect           56           56       56   56
plaintiff         56           56       56   56
criminal          56           56       56   56
phillips          55           55       55   55
private           55           55       55   55
employer          55           55       55   55
plan              54           54       54   54
appeals           54           54       54   54

In [1078]:
#bills_db = bills_db.rename({'Title':'Case','Bills Mentioned':'Bills'},axis=1).drop('Case_No',axis=1).drop('Date',axis=1)

In [1214]:
len(org['Bills Mentioned'][2])

1

In [1215]:
org.columns

Index(['Case', 'Date', 'Bills Mentioned', 'Case_ID'], dtype='object')

In [ ]:
con = sqlite3.connect("database.db")

everyone_speech.to_sql("speech", con, if_exists="replace")

In [1041]:
# 15 minutes to run

#from nltk.corpus import stopwords
#stop_words = set(stopwords.words('english'))
#keywords = pd.DataFrame(columns=['Case', 'words', 'frequencies'])

#for i in range(1302):
 #   words = nltk.word_tokenize(cleaned[i])
 #   # Remove single-character tokens (mostly punctuation)
 #   # Remove numbers
 #   words = [word for word in words if not word.isnumeric()]

    # Lowercase all words (default_stopwords are lowercase too)
 #   words = [word.lower() for word in words]

    # Remove stopwords
 #   words = [word for word in words if word not in stop_words]

    #remove punctuation
 #   words = [re.sub(r'[^\w\s]','', word) for word in words]

 #   words = [word for word in words if len(word) > 2]

 #   # Calculate frequency distribution
 #   fdist = nltk.FreqDist(words)
 #   for word, frequency in fdist.most_common(50):
 #       keywords = keywords.append({'Case': case_table['Case'][i], 'words': word, 'frequencies': frequency}, ignore_index=True)

In [1056]:
#keywords = pd.merge(keywords,case_table)
#keywords.to_csv('keywords.csv')

In [1059]:
keywords.head()

                         Case    words  frequencies  Case_ID
0  14 Penn Plaza LLC v. Pyett  justice          165        1
1  14 Penn Plaza LLC v. Pyett    union          125        1
2  14 Penn Plaza LLC v. Pyett  subject           80        1
3  14 Penn Plaza LLC v. Pyett    would           74        1
4  14 Penn Plaza LLC v. Pyett  company           71        1

In [1157]:
bills = pd.read_csv('act_df.csv').drop('Unnamed: 0',axis=1)

In [1158]:
bills = pd.merge(bills,case_table)

In [1159]:
for i in range(len(bills)):
    if 'The' in bills['Act'][i]:
        bills['Act'][i] = bills['Act'][i].strip('The')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [1160]:
for i in range(len(bills)):
    error = re.findall('[A-Z][a-z]+ Reporting Company Official ',bills['Act'][i])
    error1 = re.findall('[A-Z][a-z]+ Reporting Corporation Official ',bills['Act'][i])
    if len(error) > 0:
        bills['Act'][i] = re.sub(error[0],'',bills['Act'][i])
    if len(error1) > 0:
        bills['Act'][i] = re.sub(error1[0],'',bills['Act'][i])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [1164]:
for i in range(len(bills)):
    if bills['Act'][i] == 'Act':
        bills = bills.drop(i)

In [1165]:
bills = bills.reset_index()

In [1166]:
import numpy as np
count = []
for i in range(len(bills)):
    bill = bills['Act'][i]
    count += [len(bill)]
np.mean(count)

18.729796933278077

In [1172]:
re.findall("\s[\s\S]+",bills['Act'][39])

[' Endangered Species Act']

In [1173]:
bills['Act'][39].strip(' ')

'Endangered Species Act'

In [1175]:
for i in range(len(bills)):
    act = re.findall("\s[\s\S]+",bills['Act'][i])
    if len(act) > 0:
        bills['Act'][i] = bills['Act'][i].strip(' ')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [1203]:
#set(bills['Act'])

In [1204]:
bills.drop('level_0',axis=1).drop('index',axis=1)

,Act,Case,Case_ID
0,Help America Vote Act,Abbott v. Perez,2
1,Voting Rights Act,Abbott v. Perez,2
2,Lanham Act,Abramski v. United States,6
3,Birth Abortion Act,Abuelhawa v. United States,7
4,Private Securities Litigation Reform Act,"Adarand Constructors, Inc. v. Mineta",9
5,Uniform Standards Act,"Adarand Constructors, Inc. v. Mineta",9
6,Prison Litigation Reform Act,Advocate Health Care Network v. Stapleton,11
7,States Administrative Procedure Act,Advocate Health Care Network v. Stapleton,11
8,Alaska Statehood Act,Aetna Health Inc. v. Davila,12
9,Antiquities Act,Aetna Health Inc. v. Davila,12
10,Submerged Lands Act,Aetna Health Inc. v. Davila,12
11,Antiquities Act,Aetna Health Inc. v. Davila,12
12,Texas Civil Procedure Act,Air _ Liquid Systems Corp. v. DeVries,15
13,Armed Career Criminal Act,"Alabama Dept. of Revenue v. CSX Transp., Inc.....",16
14,Administrative Procedures Act,"Alabama Dept. of Revenue v. CSX Transp., Inc.",17
15,Dental Practice Act,"Alabama Dept. of Revenue v. CSX Transp., Inc.",17
16,Sherman Act,"Alabama Dept. of Revenue v. CSX Transp., Inc.",17
17,Fair Labor Act,Alabama v. Bozeman,19
18,Portal Act,Alabama v. Bozeman,19
19,Hobbs Act,Alabama v. North Carolina,20
20,Clayton Act,Alabama v. North Carolina,20
21,Hobbs Act,Alabama v. North Carolina,20
22,Racketeering Act,Alabama v. North Carolina,20
23,Hobbs Act,Alabama v. North Carolina,20
24,Fair Labor Standards Act,Alaska v. United States,23
25,National Labor Relations Act,Alaska v. United States,23
26,All Writs Act,Alexander v. Sandoval,24
27,Military Extraterritorial Jurisdiction Act,Alexander v. Sandoval,24
28,All Writs Act,Alexander v. Sandoval,24
29,Tucker Act,Alexander v. Sandoval,24
...,...,...,...
2383,Healthcare Act,"Yellow Transp. Inc. v. Michigan, et al",1291
2384,Religious Liberty Protection Act,"Yellow Transp. Inc. v. Michigan, et al",1291
2385,Lanham Act,"Young v. United Parcel Service, Inc.",1292
2386,Energy Policy Act,Young v. United States,1293
2387,Federal Power Act,Young v. United States,1293
2388,National Policy Act,Young v. United States,1293
2389,Federal Power Act,Young v. United States,1293
2390,California Public Records Act,Zedner v. United States,1296
2391,Electronic Communications Privacy Act,Zedner v. United States,1296
2392,Final Review Act,Zedner v. United States,1296
2393,Storage Act,Zedner v. United States,1296
2394,Stored Communications Act,Zedner v. United States,1296
2395,Stored Communications Act,Zedner v. United States,1296
2396,Cosmetic Act,Ziglar v. Abbasi,1298
2397,Civil Rights Act,Zivotofsky v. Clinton,1299
2398,Open Housing Act,Zivotofsky v. Clinton,1299
2399,Voting Rights Act,Zivotofsky v. Clinton,1299
2400,Communications Act,Zivotofsky v. Kerry,1300
2401,Telecommunications Act,Zivotofsky v. Kerry,1300
2402,Act,Zivotofsky v. Kerry,1300
2403,Bankruptcy Act,Zubik v. Burwell,1301
2404,Civil Relief Act,Zubik v. Burwell,1301
2405,Injunction Act,Zubik v. Burwell,1301
2406,Relief Act,Zubik v. Burwell,1301
2407,South Carolina Tort Claims Act,Zubik v. Burwell,1301
2408,Air Act,Zuni Public School Dist. v. Department of Educ...,1302
2409,Clean Air Act,Zuni Public School Dist. v. Department of Educ...,1302
2410,Clean Water Act,Zuni Public School Dist. v. Department of Educ...,1302
2411,Resource Conservation Act,Zuni Public School Dist. v. Department of Educ...,1302
2412,Water Act,Zuni Public School Dist. v. Department of Educ...,1302

In [1205]:
bills.loc[bills['Case_ID'] == 1]

Empty DataFrame
Columns: [level_0, index, Act, Case, Case_ID]
Index: []